// ===========================================================
// Base
// ===========================================================

body {
  font-family: 'helvetica';
  background-image: url(../img/namek.jpg);
  background-size: cover;
  background-position: center;
}