// ===========================================================
// Headings
// ===========================================================

.heading {
  text-shadow:
  -1px -1px 0 #333,
   1px -1px 0 #333,
   -1px 1px 0 #333,
    1px 1px 0 #333;

  &--player {
    color: $player-color;
  }

  &--enemy {
    color: $enemy-color;
  }
}
