// ===========================================================
// Variables
// ===========================================================


// Global ==================================================
$player-color: #89D9FF;
$enemy-color: #9C4EC8;

// Buttons ===================================================
$button-background-color: #E6980F;
$button-border: #000000;
$button-color: #E60012;
